CHATOPS_DATABASE_URL=
CHATOPS_SECURITY_KUBECONFIG_MASTER_KEY=
CHATOPS_SECURITY_BOOTSTRAP_ADMIN_TOKEN=
CHATOPS_SECURITY_PUBLIC_BASE_URL=http://localhost:8080
CHATOPS_SECURITY_COOKIE_SECURE=false
CHATOPS_FEISHU_APP_ID=
CHATOPS_FEISHU_APP_SECRET=
CHATOPS_FEISHU_VERIFICATION_TOKEN=
CHATOPS_FEISHU_ENCRYPT_KEY=
